body {
  margin-top 20px;
  padding-left: 20px;
  clear: both;
  background: #406CC5;
}

h1 {
  padding-top:20px;
  margin-left: 50px;
}

h2 {
  margin: 20px 0 0 25px;
}

h3 {
  padding-left: 10px;
  background-color: #CB6FF9;
  margin-right: 300px;
}

header {
  background-color: #009900;
  display: block;
  margin-left: -20px;
}

body p {
  margin-right: 40%;
}

body ol {
  margin-right: 40%;
}

#intro {
  margin: 20px -25% 10px 140px;
}

#before {
  text-align: center;
  margin-right: 300px;
  
}

#b {
  background-color: #CB6FF9;
  margin-right: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

#img1 {
  float:left;
  display:block;
}

#img2 {
  display:block;
  float: right;
  
}

#caption1 {
  
  clear:both;
}

#caption2 {
  float:right;
}
  max-width: 404px;
}